<html>
<body>

<h1>CLusers</h1>

<form action="/" method="POST">
    <textarea type="text" name="text" cols=100 rows=20></textarea>
    <input type="submit" value="submit">
</form>

{% if cluster%}
    the cluster is {{cluster}}
{% endif %}
</body>

</html>